* {
    margin: 0;
    padding: 0;
}
/* html{
    height: 100%;
}
body{
    font-size: 16px !important;
}
a {
    text-decoration: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
} */
/* ul li{
    list-style: none !important;
} */
/* button{
    outline: none;
}
.inputs{
    outline: none;
} */

/*文字超出省略*/
.sl{
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.a-l {
    align-items: center;
}

.m-r-5 {
    margin-right: 5px;
}
.m-r-10 {
    margin-right: 10px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.j-c {
    justify-content: center;
}
.j-c-sb{
    justify-content: space-between;
}
.j-c-sa{
    justify-content: space-around;
}
.w-1 {
    width: 100%;
}
.w-50 {
    width: 50%;
    height: 80px;

}
.min-h-500px {
    min-height: 500px;
}
.m-t-50 {
    margin-top: 50px;
}

.loginbox {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enterloginbox {
    width: 400px;
   
    border: 1px solid #ccc;
}
/* .icons {
   font-size: 24px !important;
} */
/* .cover_c .ant-input{
    height: 46px;
} */
/* p img {
    max-width: 700px;
  } */
 
  /* .ant-tooltip-inner {
    width: 400px;
  } */
  /* .ant-calendar-picker {
      width: 348px !important; 
  } */
  /* .ant-calendar-picker-input {
    border: none !important;
  } */
  /* .ant-calendar-picker-container {
      left: 35% !important;
      top: 190px !important;
  } */

  /* .chosefont ant-input-group{
      width: 80% !important;
  }
  
  .ant-select-selection {
    border: none !important;
  }
  .hotelsearchbox input {
      border: none !important;
  }
  .ant-dropdown {
      height: 200px;
      overflow: auto;
  } */